# Environment files
.env

# IDE
.idea/
*.iml
*.iws
*.ipr

# Temporary directories
temp-*/

# Docker volumes
db_data/

# Node modules
node_modules/
frontend/node_modules/

# Maven
backend/target/
backend/.mvn/

# Logs
*.log